.container {
  background-color: var(--negro2);
  width: 300px;
  height: auto;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 0px;
}

/*VIEWPORT STYLES*/

.viewport {
  background-color: var(--negro1);
  padding: 8px;
  border-radius: 8px;
  display: grid;
  width: 100%;
  grid-template-rows: 20px 40px 40px;
  gap: 5px;
  font-family: light;
  color: var(--blanco1);
}

.prev__operation {
  font-size: 20px;
  color: var(--blanco2);
  display: flex;
  align-items: center;
}

.actual__operation {
  font-size: 40px;
  display: flex;
  align-items: center;
}

.errors {
  word-wrap: break-word;
  color: var(--rojo);
  max-width: 200px;
}




.buttonsContainer {
  display: flex;
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 50px;
  justify-content: center;
  list-style: none;
  gap: 8px;
  user-select: none;
  cursor: pointer;
  font-family: bold;
  font-size: 20px;
}

.buttons div:last-child {
  grid-column: span 2;
}

.operators {
  display: grid;
  grid-auto-rows: 40px;
  grid-auto-columns: 50px;
  grid-auto-flow: row;
  gap: 16px;
}