.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--negro1);
  width: 100%;
  min-height: 100vh;
  height: 100%;
}


h1 {
  font-family: light;
  text-align: center;
  background: var(--negro2);
  color: var(--blanco1);
  padding: 8px;
  width: 100%;
}